---
import '../styles/global.css';
import {Button} from '../components/ui/button';
import MainLayout from '../layouts/main.astro';
import BgImage from '../../public/bgimage.svg';
import BgImageDark from '../../public/bgimage-dark.svg';
---

<MainLayout  title="Home">
	<div class="flex md:flex-row text-center md:text-left  flex-col-reverse gap-x-2  items-center mt-10 p-5 md:p-10 w-full justify-center">
		<div>
			<h1 class="text-[18px] md:text-[32px] font-bold mb-2 leading-tight max-w-[300px] md:max-w-[500px]">
				Your Ultimate Guide to  <br> Front-end Interview Success
			</h1>
			<p class="text-[14px] md:text-[16px] mb-2">A curated collection of front-end questions, tips, and solutions — built for developers by developers.</p>
			<Button size="sm" className='cursor-pointer'>Start Learning</Button>
		</div>
		<div class="flex items-center justify-center">
			<img class="md:w-auto w-[70%] dark:hidden"  src={BgImage.src} alt="bng image">
			<img class="md:w-auto w-[70%] hidden dark:block"  src={BgImageDark.src} alt="bng image">
		</div>
	</div>
</MainLayout>